<div class="container">
  <h2 style="margin-top:20px">Legg til avgang</h2>
  <form>

    <div class="form-group">
      <label>Båt</label>
      <select class="form-control" id="selectBaat">
        <option *ngFor="let baat of alleBaater">{{baat.navn}}</option>
      </select>
    </div>


    <div class="form-group">
      <label>Strekning</label>
      <select class="form-control" id="selectStrekning">
        <option *ngFor="let strekning of alleStrekninger">{{strekning.fra}} - {{strekning.til}}</option>
      </select>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col">
          <label>Dag</label>
          <input type='number' class="form-control" [(ngModel)]="datoDag" [ngModelOptions]="{standalone: true}" />
          <p *ngIf="datoDag < 1 || datoDag > 31 || datoDag == null" style="color:red;">Dag må være mellom 1 og 31</p>
        </div>
        <div class="col">
          <label>Måned</label>
          <input type='number' class="form-control" [(ngModel)]="datoManed" [ngModelOptions]="{standalone: true}" />
          <p *ngIf="datoManed < 1 || datoManed > 12 || datoManed == null" style="color:red;">Måned må være mellom 1 og 12</p>
        </div>
        <div class="col">
          <label>År</label>
          <input type='number' class="form-control" [(ngModel)]="datoAr" [ngModelOptions]="{standalone: true}" />
          <p *ngIf="datoAr < 2021 || datoAr > 2030 || datoAr == null" style="color:red;">År må være mellom 2021 og 2030</p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col">
          <label>Klokkeslett, time</label>
          <input type='number' class="form-control" [(ngModel)]="datoTime" [ngModelOptions]="{standalone: true}" />
          <p *ngIf="datoTime < 0 || datoTime > 23 || datoTime == null" style="color:red;">Time må være mellom 0 og 23</p>
        </div>
        <div class="col">
          <label>Klokkeslett, minutt</label>
          <input type='number' class="form-control" [(ngModel)]="datoMinutt" [ngModelOptions]="{standalone: true}" />
          <p *ngIf="datoMinutt < 0 || datoMinutt > 59 || datoMinutt == null" style="color:red;">Minutt må være mellom 0 og 59</p>
        </div>
      </div>
    </div>

   
    <div class="form-group .multiselectLugar">
      <label id="labelMultiselect">Lugarer (velg flere ved å trykke på en lugar samtidig som 'ctrl' holdes inne)</label>
      <select class="select multiselectLugar" multiple id="selectLugarer">
        <option *ngFor="let lugar of alleLugarer">{{lugar.navn}}</option>
      </select>
    </div>

    <div class="form-group">
      <label style="margin-right:10px">Antall ledige bilplasser</label>
      <input type="number" [(ngModel)]="bilplasser" [ngModelOptions]="{standalone: true}" />
      <p *ngIf="bilplasser < 0 || bilplasser > 1000 || bilplasser == null" style="color:red;">Bilplasser må være mellom 0 og 1000</p>
    </div>

    <div class="form-group">
      <label style="margin-right:10px">Aktiv avgang?</label>
      <input type="checkbox" [(ngModel)]="aktiv" [ngModelOptions]="{standalone: true}" />
    </div>

    <button class="btn btn-success" (click)="submit()">Lagre</button>
    <p id="feilmelding" style="color:red;"></p>
  </form>
</div>
