<div class="container">
  <h2>Postnummer</h2>
  <div>
    <div class="col-md-12">
      <div *ngIf="laster">Laster postnummere.....</div>

      <h3>Lagre postnummer</h3>
      <p *ngIf="feilInputLagrePoststed" style="color:red;">Poststed må ha mellom 2 og 30 bokstaver og kan ikke inneholde tall eller spesialtegn</p>
      <p *ngIf="feilInputLagrePostnummer" style="color:red;">Postnummer må ha 4 siffer</p>
      <input placeholder="Postnummer" id="lagrePostnummerNummer" #lagrePostnummerNummer (input)="validerLagrePostnummer($event.target.value)" />
      <input placeholder="Poststed" id="lagrePostnummerSted" #lagrePostnummerSted (input)="validerLagrePoststed($event.target.value)" />
      <button class="btn btn-success" (click)="lagrePoststed(lagrePostnummerNummer.value, lagrePostnummerSted.value)" [disabled]="feilInputLagrePoststed || feilInputLagrePostnummer ? true : null">Lagre</button>

      <h3>Postnummere</h3>
      <p *ngIf="feilInputEndre" style="color:red;">Poststed må ha mellom 2 og 30 bokstaver og kan ikke inneholde tall eller spesialtegn</p>
      <table class="table table-bordered table-condensed postnummerTabell">
        <thead>
          <tr>
            <th>Postnummer</th>
            <th>Poststed</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let poststed of allePoststeder">
          <tr>
            <td>{{poststed.postnr}}</td>
            <td><input value="{{poststed.poststed}}" id="postnummerPoststed" #postnummerPoststed (input)="validerEndre($event.target.value)" /></td>
            <input hidden value="{{poststed.postnr}}" id="postnummer" #postnummer />
            <td><button class="btn btn-success" (click)="endrePoststed(postnummer.value, postnummerPoststed.value)" [disabled]="feilInputEndre ? true : null">Endre</button></td>
            <td><button class="btn btn-danger" (click)="slettPoststed(postnummer.value)">Slett</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

