<div class="container">
  <h2>Postnummer</h2>
  <div>
    <div class="col-md-12">
      <div *ngIf="laster">Laster postnummere.....</div>

      <h3>Lagre Postnummer</h3>
      <input placeholder="Postnummer" id="lagrePostnummerNummer" #lagrePostnummerNummer />
      <input placeholder="Poststed" id="lagrePostnummerSted" #lagrePostnummerSted />
      <button class="btn btn-success" (click)="lagrePoststed(lagrePostnummerNummer.value, lagrePostnummerSted.value)">Lagre</button>

      <h3>Postnummere</h3>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Postnummer</th>
            <th>Poststed</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let poststed of allePoststeder">
          <tr>
            <td>{{poststed.postnr}}</td>
            <td><input value="{{poststed.poststed}}" id="postnummerPoststed" #postnummerPoststed/></td>
            <td><input hidden value="{{poststed.postnr}}" id="postnummer" #postnummer/></td>
            <td><button class="btn btn-danger" (click)="slettPoststed(postnummer.value)">Slett</button></td>
            <td><button class="btn btn-success" (click)="endrePoststed(postnummer.value, postnummerPoststed.value)">Endre</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

