.adminMenuBox {
  border-radius: 5px;
  align-content: center;
  background-color: #f8f9fa;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}

.adminMenuBox button{
    width:100%;
    flex: auto;
}

.adminMenuBox a{
    color: inherit;

} 
