<div class="container">
    <h2 style="margin-top:20px"> Rediger båter</h2>
    <div>
      <div class="col-md-12">
        <h3>Lagre båt</h3>
        <p *ngIf="feilInputLagre" style="color:red;">Båtnavn må ha mellom 2 og 30 bokstaver og kan ikke inneholde tall eller spesialtegn</p>

        <input type="text" placeholder="Båtnavn" id="nyBaat" #nyBaat (input)="validerLagre($event.target.value)" />
        <button class="btn btn-success" (click)="lagreBaat(nyBaat.value)" [disabled]="feilInputLagre ? true : null" style="margin-left:10px">Lagre</button>
        <div id="melding"></div>
      </div>
        <div class="col-md-12">
          <div *ngIf="laster">Laster båter.....</div>
          <p *ngIf="feilInputEndre" style="color:red;">Båtnavn må ha mellom 2 og 30 bokstaver og kan ikke inneholde tall eller spesialtegn</p>
          <table class="table table-bordered table-condensed endrebaatTabell">

            <thead>
              <tr>
                <th>Båtnavn</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody *ngFor="let baat of alleBaater" ng-model="alleBaater">

                <tr>
                    <input hidden value="{{baat.id}}" id="baatId" #baatId>
                    <td><input type="text" value="{{baat.navn}}" id="baatNavn" #baatNavn (input)="validerEndre($event.target.value)"></td>
                    <td><button class="btn btn-success" (click)="endreValgtBaat(baatNavn.value, baatId.value)" [disabled]="feilInputEndre ? true : null">Endre navn</button></td>
                    <td><button class="btn btn-danger" (click)="slettValgtBaat(baat.id)">Slett</button></td>
                </tr>

            </tbody>
          </table>
        </div>
    </div>
</div>
