<div class="container">
  <div class="col-md-4" id="strekning">
    <div>
      <div *ngFor="let strekning of alleStrekninger"></div>
      <select (change)="toggleValgtStrekning()" [(ngModel)]="strekning">
          <option disabled hidden [value]="selectUndefinedOptionValue">Velg destinasjon</option>
          <option *ngFor="let strekning of alleStrekninger">{{strekning.fra}} - {{strekning.til}}</option>
      </select>

    </div>
    <div>

        <select id="avgang" *ngIf="strekningValgt" (change)="toggleValgtAvgang()">
            <option disabled hidden [value]="selectUndefinedOptionValue">Velg avgang</option>
            <option *ngFor="let avgang of alleAvganger" value={{avgang.id}}>{{avgang.datoTid}}</option>
        </select>

    </div>

    <div *ngIf="valgtAvgang">
      <button><a class="nav-link text-dark" routerLink="/lugarValg, avgangId">Gå til bestilling</a></button>
    </div>
  </div>
</div>
