body {
  background-color: rgb(40, 60, 99);

}

.container {
  margin-top: 2%;
  width: 50%;
  color: white;
  font-size: large;
  text-align-last: center;

}

.dropdown {
    width:90%;
    height: 40px;
}

#banner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40%;
}

#strekningReturContainer {
  background-color: white;
  color: black;
  margin-left: 5%;
  margin-right: 5%;
}
