<div class="container">
    <div class="col-md-4" id="strekning">
        <div>
            <div *ngFor="let strekning of alleStrekninger"></div>
            <select (change)="toggleValgtStrekning()" [(ngModel)]="strekning">
                <option disabled hidden [value]="selectUndefinedOptionValue">Velg destinasjon</option>
                <option *ngFor="let strekning of alleStrekninger">{{strekning.fra}} - {{strekning.til}}</option>
            </select>

        </div>
        <div>

          <select id="avgang" *ngIf="strekningValgt" (change)="toggleValgtAvgang()" [disabled]="testBool">
            <option disabled hidden [value]="selectUndefinedOptionValue">Velg avgang</option>
            <option *ngFor="let avgang of alleAvganger" data-value='{"id": {{avgang.id}}, "datoTidTicks": {{avgang.datoTidTicks}}}'>{{avgang.datoTid}}</option>
          </select>
          
        </div>
        <div *ngIf="valgtAvgang">
            <input type="checkbox" name="returCheckBox" [(ngModel)]="valgtRetur" />
            <label for="returCheckBox">Velg retur?</label><br>
        </div>
    </div>


    <!--Returvalg-->
    <div class="col-md-4" id="strekning">
        <div *ngIf="valgtRetur">
            <p>{{strekningRetur}}</p>
            <select id="avgangRetur" (change)="toggleValgtAvgangRetur()">
                <option disabled hidden [value]="selectUndefinedOptionValue">Velg avgang</option>
                <option *ngFor="let avgang of alleAvgangerRetur" data-value='{"id": {{avgang.id}}, "datoTidTicks": {{avgang.datoTidTicks}}}'>{{avgang.datoTid}}</option>
            </select>
        </div>
    </div>

    <p *ngIf="(avgangValgtReturDatoTidTicks < avgangValgtDatoTidTicks) && valgtRetur">Returavgang kan ikke komme før start-avgnag</p>
    <div *ngIf="(!valgtRetur && valgtAvgang) || (valgtRetur && valgtAvgangRetur) && (avgangValgtReturDatoTidTicks > avgangValgtDatoTidTicks)">
        <button><a class="nav-link text-dark" [routerLink]="['/lugarValg', avgangId]">Gå til bestilling</a></button>
    </div>
</div>
