<div class="container">
  <div class="col-md-4" id="strekning">
    <div>
      <div *ngFor="let strekning of alleStrekninger"></div>
      <select (change)="toggleValgtStrekning()" [(ngModel)]="strekning">
    <option *ngFor="let strekning of alleStrekninger">{{strekning.fra}} - {{strekning.til}}</option>
  </select>

    </div>
    <div>

        <select *ngIf="strekningValgt">
          <option *ngFor="let avgang of alleAvganger">{{avgang.datoTid}}</option>
        </select>

    </div>
  </div>
</div>
