body {
  background-color: #97c4e6;
}

.bestillingValgFormGroup {
  width: 10%;
}

.bestillingValg {
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 10px;
  background-color: #f0f8ff;
  border: solid;
}

.valgtLugarBox {
  margin-top: 20px;
}

.valgteLugarer {
  padding: 10px;
  border: solid;
  background-color: #f0f8ff;
}

.valgtLugarBox button {
  width: 1px;
}

lugar {
  display: block;
  margin-top: 30px;
  padding: 10px;
  border-style: solid;
  background-color: #f0f8ff;
}

#errorIkkeNokPersoner {
  padding-bottom: 30px;
  margin-top: 20px;
  margin-left: 15px;
  color: red;
  font-size: x-large;
}

.btnBekreft {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  color: white;
}

.btnFjernLugar {
  width: 1%;
}

#totalpris {
  font-size: x-large;
}

#lugarNavn {
  font-size: x-large;
}
