<div class="container">
    <h2> Rediger kunde</h2>
    <div>
        <div class="col-md-12">
            <div *ngIf="laster">Laster kunder.....</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>Kundenavn</th>
                        <th>Adresse</th>
                        <th>Telefon</th>
                        <th>Epost</th>

                    </tr>
                </thead>
                <tbody *ngFor="let kunde of alleKunder" ng-model="alleKunder">
                    <tr>
                        <td>
                            <p id="kundeNavn" #kundeNavn>{{kunde.fornavn}} {{kunde.etternavn}}</p>
                            <input hidden value="{{kunde.id}}" id="kundeId" #kundeId>
                        </td>
                        <td>
                            <p id="kundeAdresse" #kundeNavn>{{kunde.adresse}} {{kunde.poststed.postnr}} {{kunde.poststed.poststed}}</p>
                        </td>
                        <td>
                            <p id="kundeTlf" #kundeNavn>{{kunde.telefonnummer}}</p>
                        </td>
                        <td>
                            <p id="kundeEpost" #kundeNavn>{{kunde.epost}}</p>
                        </td>
                        <td><button class="btn btn-primary" [routerLink]="['/endreKundeForm', {kundeId:kunde.id}]">Endre</button></td>
                        <td><button class="btn btn-danger" (click)="slettValgtKunde(kundeId.value)">Slett</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
