<div class="container">
    <h2 style="margin-top:20px">Slett billett</h2>
    <div>
        <div class="col-md-12">
            <div *ngIf="laster">Laster billetter.....</div>
            <table class="table table-bordered table-condensed slettbillettTable">
                <thead>
                    <tr>
                        <th>KundeID</th>
                        <th>Antall personer</th>
                        <th>Pris</th>
                    </tr>
                </thead>
                <tbody *ngFor="let bill of alleBilletter" ng-model="alleBilletter">
                    <tr>
                        <input hidden value="{{bill.id}}" id="billId" #billId>
                        <td><p id="kundeId" #kundeId>{{bill.kundeId}}</p></td>
                        <td><p id="antallPersoner" #antallPersoner>{{bill.antallPersoner}}</p></td>
                        <td><p id="totalPris" #totalPris>{{bill.totalPris}},-</p></td>
                        <td><button class="btn btn-danger" (click)="slettValgtBillett(billId.value)" style="margin-left:10px">Slett</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
